
<h2 class="card-title1">Weather Forecast :</h2>   
             
<div class="row">
 <div class="col-2"><div class="card text-dark bg-light mb-3" style="width:100%">
      <div class="card-body">
      <ul> 
          <li>{{name0}}</li>
          <li>{{temperature0}} *F</li>
          <img src="{{icon0}}">
          <li>{{detailInfo0}}</li>
      </ul>
    </div>
  </div> 
</div>

<br><br>

<div class="col-2"><div class="card text-dark bg-light mb-3" style="width:100%">
      <div class="card-body">
      <ul>
        <li>{{name}}</li>
        <li>{{temperature}} *F</li>
        <img src="{{icon}}">
        <li>{{detailInfo}}</li>
      </ul>
    </div>
  </div> 
</div>